@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-sans);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-info: var(--info);

  --radius-sm: calc(var(--radius) * 0.5);
  --radius-md: calc(var(--radius) * 1);
  --radius-lg: calc(var(--radius) * 1.5);
  --radius-xl: calc(var(--radius) * 2);
}

:root {
  --background: #F2F6FA;
  --foreground: #110E17;
  --card: #FFFFFF;
  --card-foreground: #110E17;
  --popover: #FFFFFF;
  --popover-foreground: #110E17;

  --primary: #D5FB3D;
  --primary-foreground: #110E17;

  --secondary: #F1FFD7;
  --secondary-foreground: #D5FB3D;

  --muted: #F2F6FA;
  --muted-foreground: #7E84A3;

  --accent: #F1FFD7;
  --accent-foreground: #D5FB3D;

  --destructive: #E24B4A;
  --destructive-foreground: #FFFFFF;

  --border: #D3D1C7;
  --input: #B6BAD0;
  --ring: #D5FB3D;

  --success: #639922;
  --warning: #BA7517;
  --error: #E24B4A;
  --info: #1D9E75;

  --chart-1: #D5FB3D;
  --chart-2: #1D9E75;
  --chart-3: #BA7517;
  --chart-4: #E24B4A;
  --chart-5: #110E17;

  --radius: 8px;
  /* Base 8px */

  --sidebar: #FFFFFF;
  --sidebar-foreground: #110E17;
  --sidebar-primary: #D5FB3D;
  --sidebar-primary-foreground: #110E17;
  --sidebar-accent: #F2F6FA;
  --sidebar-accent-foreground: #110E17;
  --sidebar-border: #D3D1C7;
  --sidebar-ring: #D5FB3D;
}

.dark {
  --background: #110E17;
  --foreground: #FFFFFF;
  --card: #1C1A22;
  --card-foreground: #FFFFFF;
  --popover: #1C1A22;
  --popover-foreground: #FFFFFF;

  --primary: #D5FB3D;
  --primary-foreground: #110E17;

  --secondary: #1D2312;
  --secondary-foreground: #D5FB3D;

  --muted: #1C1A22;
  --muted-foreground: #B6BAD0;

  --accent: #1D2312;
  --accent-foreground: #D5FB3D;

  --destructive: #E24B4A;
  --destructive-foreground: #FFFFFF;

  --border: #2D2A37;
  --input: #4A465B;
  --ring: #D5FB3D;

  --success: #639922;
  --warning: #BA7517;
  --error: #E24B4A;
  --info: #1D9E75;

  --chart-1: #D5FB3D;
  --chart-2: #1D9E75;
  --chart-3: #BA7517;
  --chart-4: #E24B4A;
  --chart-5: #FFFFFF;

  --sidebar: #110E17;
  --sidebar-foreground: #FFFFFF;
  --sidebar-primary: #D5FB3D;
  --sidebar-primary-foreground: #110E17;
  --sidebar-accent: #1C1A22;
  --sidebar-accent-foreground: #FFFFFF;
  --sidebar-border: #2D2A37;
  --sidebar-ring: #D5FB3D;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
    font-family: "Anthropic Sans", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }
}